.footer {
    &__nav {
        text-align: center;
        margin: rem-calc(0 0 32 0);
        list-style: none;
    }
    
    &__nav-item {
        display: inline-block;
        margin: rem-calc(0 8);       
    }

    &__bottom {
        background: get-color(secondary);
        color: $white;
        padding: rem-calc(8 0);
        font-size: rem-calc(11);
        font-weight: bold;
        text-align: center;
    }
}

.rrss-links {
    text-align: center;
    margin: rem-calc(0 0 16 0);
    list-style: none;
    &__item {
        display: inline-block;
        font-size: rem-calc(32);
        margin: rem-calc(0 8);
    }
}

